---
import "../styles/global.css";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
const pageTitle = "About";
const skills = [
    "Linux",
    "Git",
    "Docker",
    "Networking",
    "Bash",
    "System Administration",
    ]
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
<body>
    <Nav />
    <h1>{pageTitle}</h1>
    <h2>Skills</h2>
    <ul>
        {skills.map((skill) => (
            <li class="skill">{skill}</li>
        ))}
    </ul>
    <Footer />
</body>
</html>